# Supabase Auth
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Prisma / Supabase PostgreSQL
DATABASE_URL=
DIRECT_URL=

# Football data API
FOOTBALL_DATA_API_KEY=

# Application
NEXT_PUBLIC_APP_URL=http://localhost:3000